@import url('https://fonts.googleapis.com/css?family=Gugi|Share+Tech+Mono');
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.home {
  .pbox   {
    padding: 15px;
    .title  {color: white; font-size: 16pt; font-weight: 300; float:left;}
    .price  {
      span.rm {font-size: 18pt;}
      position:relative;
      color: white; padding-left: 40%;
      font-size: 60pt; font-weight: 300; font-family: 'Gugi', cursive;}
      .previous {
        font-size: 18pt;  font-family: sans-serif; font-weight: 100;
        line-height: 50%;
        position:absolute; top: 40%; right:2%;}
  }
  .hijau  {background-color: #67A373;}
  .kuning {background-color: #F0D569;}
  .hitam  {background-color: #2D2C2F;}
  .biru   {background-color: #102E8D;}
  .blaze  {background-color: #B7B8B4;}
  .merah  {background-color: #DB2129;}
}

.chart_page {
  padding: 1em;
  .search_bar {text-align:center; background-color: #EEE; margin-bottom:0.5em;}
}

.form {
  padding: 2em 3em;
  h1 {font-weight: 600px; font-size: 18pt; border-bottom: solid 2px black;}
}

.footer {
  margin-top: auto;
  padding: 1em;
  font-weight: light; color:#CCC; font-family: 'Gugi', cursive; font-size: 10pt;
  .about {text-align: left;}
  .copy  {text-align: center;}
  .hire  {text-align: right;}
}